*
  box-sizing border-box

svg
	background #efefef

	.g-axis
		text
			fill gray
		line, path
			stroke gray

	.g-person
		path
			fill none
			stroke #000
			stroke-opacity 0.2
		&.is-active
			path
				stroke-opacity 1
				stroke red
			

input
	display block
	width 90%
	margin 0 auto

.name
	text-align center