*
  box-sizing border-box

main
	display flex
	flex-wrap wrap

.person
	margin 1rem

svg
	background #efefef

	.g-axis
		text
			fill gray
		line, path
			stroke gray

	.pageviews
		fill none
		stroke #000

	circle
		fill none
		stroke red
